/* Alexa Wilson */
/* css for portfolio page */

#allcontent {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  background: rgb(172, 249, 249);
}
body {
  background: black;
  font-family: Arial;
  color: black;
}
h1 {
  font-weight: bold;
  font-size: 34px;
  text-align: center;
}
h2 {
  font-size: 26px;
  text-align: center;
}
.list {
  padding-left: 60px;
}
.intro {
  padding-left: 50px;
  padding-right: 50px;
}
.community {
  padding-bottom: 50px;
}
#allcontent {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  background: rgb(172, 249, 249);
}
.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
